<html>
<h1>
    我是吴嘉贤，北京交通大学软件工程研究生，前腾讯实习生，喜欢编程，准备自己开发微信公众号
</h1>
<h1>
    熟悉GO，Java，MySQL，Redis，JS，微信小程序等
</h1>
<h1>
    这是我的Github地址：<a href="https://github.com/XiaoHuaShiFu">https://github.com/XiaoHuaShiFu</a>
</h1>
<h1>
    掘金：<a href="https://juejin.cn/user/3984285871387582">https://juejin.cn/user/3984285871387582</a>
</h1>
</html>